.wrapper {
  margin: auto;
  margin-top: 100px auto;
}

.wrapper > * {
  text-align: center;
}

.mark0, .mark1, .mark2, .mark3, .mark4, .mark5 {
  border-bottom: 2px solid black;
}

.mark0, .mark1, .mark3, .mark4, .mark6, .mark7 {
  border-right: 2px solid black;
}

.board-row > div {
  height:  100px;
  font-size: 50px;
}

.board-row > div > form {
  height:  20px;
  font-size: 15px;
}
