$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'color';
@import 'theme';
@import 'game';



.auth-buttons {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
