body {
  background-color: $paper-white;
  color: $charcoal;
}

#account-navbar {
  background-color: darken($gray, 50%);
}

.dropdown > a .dropdown-toggle {
  color: $paper-white;
}

.blue-btn {
  background-color: $blue-button;
  color: $paper-white;
  border-color: darken($gray, 75%);
}

#nav-text {
  color: $paper-white;
}

.auth-buttons {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-btn {
  background-color: $success;
}

.message-container {
  // display: inline-block;
  // height: 25px;
  width: auto;
  padding: 3px;
  border: 0;
}


.stats-well {
  width: 30%;
  min-width: 230px;
}
