body {
  background-color: $paper-white;
  color: $charcoal;
}

#account-navbar {
  background-color: darken($gray, 50%);
}

.dropdown > a .dropdown-toggle {
  color: $paper-white;
}

.blue-btn {
  background-color: $blue-button;
  color: $paper-white;
  border-color: darken($gray, 75%);
}

#nav-text {
  color: $paper-white;
}

.auth-buttons {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-btn {
  background-color: $success;
}

.message-container {
  display: inline-block;
  // height: 25px;
  width: auto;
  padding: 3px;
  border: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 2px;
}


.stats-well {
  // width: 30%;
  min-width: 230px;
}

.header-box {
  background-color: $success;
  color: $paper-white;
  text-align: center;
  border-radius: 0 0 50% 50%;
  height: 75px;
  padding: 1px;
  width: 100%
}

.footer-box {
  background-color: $success;
  color: $paper-white;
  text-align: center;
  // border-radius: 50% 50% 0 0;
  height: 25px;
  // margin-top: 50px;
  padding: 1px;
  width: 100%;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: darken($gray, 20%);
  text-align: center;
}

.stats-drop-button {
  margin-bottom: 10px;
  width: 40%;
  margin: auto;
  margin-top: 25px;

}
